:root {
    --my-color: rgb(0, 255, 238);
}
* {
    font-family: poppins;
    background-color: black;
    color: white;
    box-sizing: border-box;
}
.header-title {
    font-size: 40px;
    font-weight: 800;
}

#header{
    height: auto;
    width: 100%;
}
#header .container {
    display: flex;
    flex-direction: column;
    
    height: auto;
    background-image: url("/images/wallpapersden.com_modern-blue-shade-abstract_7680x1440.jpg");
    background-size: contain;
    background-position: top;
    height: 400px;
}
#header nav, #header ul  {
    display: flex;
}
#header ul {
    justify-content: flex-end;
    flex: 1;
}
#header img {
    width: 150px;
    height: 150px;
    margin-left: 10px;
}
#header ul li {
    list-style: none;
    margin-right: 20px;
    max-height: fit-content;
}
#header .info-section {
    width: auto;
    height: fit-content;
    margin: auto 0;
    text-align: center;
}
#header .info-section span {
    color: var(--my-color);
}
#header .info-section p {
    margin-bottom: -3px;
}
#header .info-section h1 {
    margin: 0;
}


#about-me {
    width: 100%;
    margin: 60px 0;
}
#about-me .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    padding: 0 100px;
}
#about-me .row {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
}
#about-me .column1 {
    display: flex;
    width: 40%;
}
#about-me .column1 img {
    width: 100%;
}
#about-me .column2 {
    flex: 1;
}
#about-me .column2 h2 {
    color: var(--my-color);
    font-size: 36px;
    margin-top: 0;
    text-align: center;
}
#about-me .column2 p {
    font-weight: 200;
}

#services {
    height: auto;
}
#services .container {
    padding: 100px;
}
#services .grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
#Services .service {
    width:360px;
    height: 400px;
    background-color: gray;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 15px;
    background-color: white;
    cursor: white;

    cursor: pointer;
}
.service p {
    background-color: inherit;
    max-width: 70%;
    text-align: center;
    color: black;
    font-weight: 200;
    font-size: 16px;
}
.service h2 {
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-image: url("/images/OIP\ \(1\).jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}
#services .service:hover {
    transform: scale(1.05);
    transition: 0.3s;
}


#projects {
    height: auto;
}
#projects .container {
    padding: 100px;
}
#projects .grid {
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;
    column-gap: 20px;
    justify-content: center;
}
#projects .project {
    position: relative;
    overflow: hidden;
    width: 500px; 
    height: 300px; 
    display: flex;
    justify-content: center; 
    align-items: center;   
}
#projects .grid img {
    width: 100%; 
    height: 100%; 
    object-fit: contain;  
    display: block;  
}
#projects .layer {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.757);
    align-items: center;

    opacity: 0;


}
#projects .layer h2, 
#projects .layer p, 
#projects .layer a {
    text-align: center;
    margin: 5px;
    background-color: white;
    color: black;
    padding: 0 40px;
    width: 100%;
}
#projects .layer a{
    padding: 2px 20px;
    border-radius: 20px;
    background-color: rgb(32, 87, 251);
}
#projects .project:hover .layer{
    opacity: 1;
    height: 100%;
    transition: 0.3s;
    transform: scale(1.05);
}


#contact-me .container {
	width: 100%;
	height: auto;

	padding: 150px;
}
#contact-me .row {
	display: flex;
}

#contact-me .row .column1 {
	flex-basis: 50%;
}
.phone, .email, .social-media {
	display: flex;
	color: white;
	font-size: 20px;
	font-weight: 200;
	align-items: center;
	margin-bottom: 5px;
}
.icon {
	position: relative;
	width: 50px;
	height: 50px;
	background-color: white;
	border-radius: 50%;
	margin-right: 10px;
	border: 2px solid white;
	transition: 0.3s;
	cursor: pointer;
}
.icon.email:hover {
	background-color: red;
	border: 2px solid red;
	transform: translateY(-10px);
}
.icon.phone:hover {
	background-color: green;
	border: 2px solid green;
	transform: translateY(-10px);
}

.social-media {
	margin-top: 20px;
	display: flex;
}
.social-media .icon {
	position: relative;
	margin-right: 20px;
}
.icon.facebook:hover {
	background-color: blue;
	border: 2px solid blue;
	transform: translateY(-10px);
}
.icon.linkedin:hover {
	background-color: rgb(33, 155, 255);
	border: 2px solid rgb(33, 155, 255);
	transform: translateY(-10px);
}
.icon.twitter:hover {
	background-color: white;
	border: 2px solid white;
	transform: translateY(-10px);
}
.icon.telegram:hover {
	background-color: rgb(33, 155, 255);
	border: 2px solid rgb(33, 155, 255);
	transform: translateY(-10px);
}	

#contact-me .column2 {
	width: 50%;
}
.column2 h2 {
	font-size: 40px;
	font-weight: 800;
	margin-top: 10px;
}
label {
	display: block;
	margin-bottom: 20px;
}
input, textarea {
	width: 100%;
	border: none;
	border-radius: 4px;
	padding: 3px;
    background-color: white;
    color: black;
}

