* {
    font-family: poppins;
    background-color: black;
    color: white;
}

#header{
    height: auto;
    width: 100%;
}
#header .container {
    display: flex;
    flex-direction: column;
    
    height: auto;
    background-image: url("images/OIP\ \(1\).jpeg");
    background-size: contain;
    background-position: center;
    height: 400px;
}

#header nav, #header ul  {
    display: flex;
}
#header ul {
    justify-content: flex-end;
    flex: 1;
}
#header img {
    width: 150px;
    height: 150px;
    margin-left: 10px;
}
#header ul li {
    list-style: none;
    margin-right: 20px;
    max-height: fit-content;
}

#header .info-section {
    width: auto;
    height: fit-content;
    margin: auto 0;
    text-align: center;
}

#header .info-section span {
    color: blue;
}

#header .info-section p {
    margin-bottom: -3px;
}

#header .info-section h1 {
    margin: 0;
}




